@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(https://db.onlinewebfonts.com/c/3066b11123e63381b8e2aa554b18bf32?family=Bauhaus+93+V1);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.side_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    background: url(../image/side-bg.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

.side_menu::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 300px;
    background: rgba(255, 255, 255, 0.3);
}

.side_menu ul {
    position: relative;
    text-align: left;
}

.side_menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
}

.side_menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #467b63;
}

.banner {
    overflow: hidden;
    position: relative;
    height: 100vh;
    right: 0;
    width: 100vw;
    background: url(../image/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(105%);
    transition: 0.5s;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.banner.active {
    right: 300px;
}

.banner::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.banner .nav {
    z-index: 10;
    padding: 0 0 0 2.5em;
    position: absolute;
    top: 0;
    left: 0;
    height: 12%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.banner .nav::before {
    content: '';
    top: 100%;
    left: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.6;
}

.banner .nav .logo {
    margin-left: 5em;
    text-align: center;
}

.banner .nav .logo a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Bauhaus 93';
}

.banner .nav ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    margin-right: 3em;
}

.banner .nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #ffffff;
    letter-spacing: 2px;
}

.banner .nav ul li::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 80%;
    top: 120%;
    left: 0;
    background: #ffffff;
    border-radius: 50px;
    transform: scale(0);
    visibility: hidden;
    transition: transform linear 0.2s;
}

.banner .nav ul li:hover::after {
    transform: scale(1);
    visibility: visible;
}

.banner .title {
    z-index: 10;
    transform: translateY(-20%);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .title h1 {
    color: #ffffff;
    font-size: 8em;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Bauhaus 93';
}

.banner .title p {
    color: #ffffff;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.banner .title a {
    padding: 0.5em 1.5em;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    outline-style: none;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s;
}

.banner .title a:hover {
    background: #467b63;
    color: rgba(255, 255, 255, 0.8);
}

.banner .side_bar {
    z-index: 10;
    position: absolute;
    width: 6%;
    height: 100%;
    top: 0;
    right: 0;
}

.banner .side_bar::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #ffffff;
    opacity: 0.6;
}

.banner .side_bar .menu_bar {
    height: 12%;
    background: url('../image/menu.png') no-repeat;
    background-position: center;
    background-size: 25px;
    cursor: pointer;
}

.banner .side_bar .menu_bar.active {
    height: 12%;
    background: url('../image/close.png') no-repeat;
    background-position: center;
    background-size: 25px;
    cursor: pointer;
}

.banner .side_bar .social_media {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .side_bar .social_media::before {
    position: absolute;
    content: '';
    left: 0;
    top: 12%;
    height: 1px;
    width: 100%;
    background: #ffffff;
    opacity: 0.6;
}

.banner .side_bar .social_media ul {
    list-style: none;
    text-align: center;
    transform: translateY(-50%);
}

.banner .side_bar .social_media ul li {
    margin-bottom: 25px;
}

.banner .side_bar .social_media ul a {
    text-align: center;
}

.banner .side_bar .social_media ul a img {
    transform: scale(0.35);
    filter: invert(0.2);
    transition: 0.2s linear;
}

.banner .side_bar .social_media ul a img:hover {
    filter: invert(0);
}

.banner .cloud {
    position: absolute;
    left: -50px;
    pointer-events: none;
}

.banner .cloud img {
    transform: scale(0.1);
    animation: cloud 6s linear infinite;
    pointer-events: none;
}

.banner .boat {
    position: absolute;
    bottom: 0;
    left: 70vw;
    pointer-events: none;
}

.banner .boat img {
    transform: scale(0.8) rotateY(30deg);
    animation: boat 10s linear infinite;
}

.banner .bottom_bar {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80vw;
    height: 22vh;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.banner .bottom_bar .item {
    padding-top: 25px;
    transition: 0.5s ease-in-out;
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative;
}

.banner .bottom_bar .item:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10%;
    width: 1px;
    height: 80%;
    background: #ffffff;
    opacity: 0.6;
}

.banner .bottom_bar .item::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 80%;
    height: 1px;
    background: #ffffff;
    opacity: 0.6;
}

.banner .bottom_bar .item .hover_bar {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #ffffff;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.banner .bottom_bar .item .image_box {
    position: relative;
    width: 80%;
    height: 70%;
    overflow: hidden;
    margin: auto;
    transition: 0.5s ease-in-out;
}

.banner .bottom_bar .item .image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s;
}

.banner .bottom_bar .item:hover .hover_bar {
    opacity: 1;
    visibility: visible;
}

.banner .bottom_bar .item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.banner .bottom_bar .item p {
    transition: 0.5s ease-in-out;
    color: #ffffff;
    opacity: 0.7;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.banner .bottom_bar .item a {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.banner .bottom_bar .item:hover a {
    opacity: 1;
    visibility: visible;
}

.banner .bottom_bar .item:hover p {
    transform: translateY(-50%);
    opacity: 1;
}

.banner .bottom_bar .item:hover .image_box {
    transform: translateY(-10%);
}

@keyframes cloud {
    0% {
        transform: translateX(-30vw) scale(0.8);
        opacity: 0;
    }
    10% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.1;
    }
    100% {
        transform: translateX(30vw) scale(0.4);
        opacity: 0;
    }
}
